*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    background-color: bisque;
}
#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-radius: 1px solid rgba(0,0,0,0,05);
}
.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog-heading span{
    color: red;

}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.blog-box{
    width: 350px;
    background-color: azure;
    border: 1px solid #ececec;
    margin: 20px;
    border-radius: 25px;
    overflow: auto;
}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.blog-review{
    text-align: right;
    color: rgb(128, 0, 126);
}
.post-info1{
display: flex;
justify-content: space-between;
padding: 10px;
background-color: rgb(255, 0, 149);
font-size: large;
}
.post-info2{
display: flex;
justify-content: space-between;
padding: 10px;
background-color: rgb(94, 255, 0);
font-size: large;
}
.post-info3{
display: flex;
justify-content: space-between;
padding: 10px;
background-color: rgb(255, 132, 0);
font-size: large;
}
.post-info span{
    font-size: small;
}
.blog-upload{
    font-style: italic;
    color: rgb(0, 170, 255);    
}
.heading{
    text-align: center;
}

